.trending_products {
	height: 340%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #ffffff;
	color: #323232;
	position: absolute;
	top: 152%;
}

.title {
	height: 2%;
	width: 30%;
	text-align: center;
	z-index: 100;
	background-color: #ffffff;
}

.description {
	height: 2%;
	width: 100%;
	text-align: center;
}

.list {
	height: 45%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: 100%;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(4, 23.5%);
	grid-template-rows: repeat(2, 55%);
	grid-column-gap: 25px;
}

.horizontal_line {
	color: #f0f0f0;
	height: 2px;
	width: 94%;
	position: relative;
	top: -1.7%;
}

.two_products {
	height: 15%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottles {
	height: 100%;
	width: 49%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: left;
	position: relative;
}
.img_bottles {
	height: 100%;
	width: 100%;
	z-index: 100;
	position: absolute;
	object-fit: fill;
}

.bottles p,
h1,
h3,
button {
	z-index: 101;
	width: 50%;
	padding: 2%;
}

.subtitle_bottles {
	height: 6%;
	width: 80%;
	z-index: 101;
	color: #ddaf70;
	font-size: 16px;
	position: relative;
	left: 3%;
}

.title_bottles {
	height: 10%;
	width: 70%;
	font-size: 20px;
	z-index: 101;
	position: relative;
	left: 3%;
}

.btn_bottles {
	height: 15%;
	width: 25%;
	z-index: 101;
	font-size: 10px;
	margin: 7% 0 0 2%;
	position: relative;
	left: 3%;
}
